<md-card>

  <!-- Works -->
  <markdown>
    # What is AngularJS?
    Bacon ipsum dolor amet ribeye leberkas pork loin shankle, meatloaf prosciutto venison drumstick chicken doner. Turducken leberkas sirloin salami kevin porchetta pork belly flank meatball prosciutto tail ribeye venison.
  </markdown>

  <!-- Doesn't work -->
  <markdown path="/assets/flashcards/what-is-angular-js.md"></markdown>

  <md-card-actions>
    <button md-button color="primary">Previous</button>
    <button md-button color="accent">Show Answer</button>
    <button md-button color="primary">Next</button>
  </md-card-actions>
</md-card>
