:host {
  display: flex;
  justify-content: center;
}
:host /deep/ h1 {
  background: #673ab7;
  margin: -24px -24px 0 !important;
  padding: 24px;
  color: white;
  font-weight:lighter;
}
:host /deep/ .markdown:not(.show-answer) *:not(.question) {
  display: none;
}
:host /deep/ code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}
md-card {
  width: 50%;
}
md-card-actions {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
}