<md-card>
  <!--<div class="heading">-->
    <!--<md-card-title>	Card title</md-card-title>-->
  <!--</div>-->
  <!--<md-card-subtitle>	Card subtitle </md-card-subtitle>-->
  <!--<md-card-content>-->
    <!--<div Markdown path="/assets/flashcards/what-is-angular-js.md"></div>-->
  <!--</md-card-content>-->
  <div [innerHtml]="currentFlashcard.value"></div>

  <md-card-actions>
    <button md-button color="primary">Previous</button>
    <button md-button color="primary">Next</button>
  </md-card-actions>
</md-card>
